@font-face {
  font-family: "ttiao";
  /* Project id 3652731 */
  src: url('//at.alicdn.com/t/c/font_3652731_vagvl24pf4.woff2?t=1663320132121') format('woff2'), url('//at.alicdn.com/t/c/font_3652731_vagvl24pf4.woff?t=1663320132121') format('woff'), url('//at.alicdn.com/t/c/font_3652731_vagvl24pf4.ttf?t=1663320132121') format('truetype');
}
.ttiao {
  font-family: "ttiao" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.tt-fenxiang:before {
  content: "\e601";
}
.tt-dianzan:before {
  content: "\e602";
}
.tt-gengduo:before {
  content: "\e603";
}
.tt-guanbi:before {
  content: "\e604";
}
.tt-lishi:before {
  content: "\e605";
}
.tt-pinglun:before {
  content: "\e606";
}
.tt-shoucang:before {
  content: "\e607";
}
.tt-shanchu:before {
  content: "\e608";
}
.tt-shouye:before {
  content: "\e609";
}
.tt-shipin:before {
  content: "\e60a";
}
.tt-sousuo:before {
  content: "\e60b";
}
.tt-youjiantou:before {
  content: "\e60c";
}
.tt-yanzhengma:before {
  content: "\e60d";
}
.tt-wode:before {
  content: "\e60e";
}
.tt-wenda:before {
  content: "\e60f";
}
.tt-shouji:before {
  content: "\e610";
}
.tt-zuojiantou:before {
  content: "\e611";
}
.tt-yuedu:before {
  content: "\e612";
}
.tt-wuwangluo:before {
  content: "\e613";
}
.tt-zuopin:before {
  content: "\e614";
}
.tt-dianzan2:before {
  content: "\e615";
}
